/*

  Name:   button.scss -> button.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/21/2020
  Mod:

*/
/*

  Name:   _config.scss
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/8/2020
  Mod:

*/
@import url("http://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css");
* {
  box-sizing: border-box; }

:root {
  --color1: $color1;
  --max-width: $max-width;
  --max-width-padding: $max-width-padding;
  --nav-height: $nav-height; }

.btn {
  display: inline-block;
  position: relative;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  padding: 0.75em;
  border: 2px solid #3a424a;
  border-radius: 3px;
  margin: 1em 0 0;
  background-color: #3a424a;
  color: white;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: 200ms; }
  .btn:hover {
    background-color: transparent;
    color: #3a424a; }
  .btn:active {
    background-color: white;
    color: #3a424a; }
