/*

  Name:   cart.scss -> cart.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   7/4/2020
  Mod:    7/8/2020

*/
/*

  Name:   _config.scss
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/8/2020
  Mod:

*/
@import url("http://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css");
* {
  box-sizing: border-box; }

:root {
  --color1: $color1;
  --max-width: $max-width;
  --max-width-padding: $max-width-padding;
  --nav-height: $nav-height; }

table {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: auto; }
  table tr {
    display: grid;
    grid-template-columns: 1fr 100px 100px;
    width: 100%;
    text-align: left; }
