/*

  Name:   cart.scss -> cart.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   7/4/2020
  Mod:    7/19/2020

*/
/*

  Name:   _config.scss
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/8/2020
  Mod:

*/
@import url("http://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css");
* {
  box-sizing: border-box; }

:root {
  --color1: $color1;
  --max-width: $max-width;
  --max-width-padding: $max-width-padding;
  --nav-height: $nav-height; }

table {
  display: block;
  width: 100%;
  max-width: 650px;
  margin: auto; }
  table tr {
    display: grid;
    grid-template-columns: 27px minmax(250px, 1fr) 75px 90px 60px;
    width: 100%;
    text-align: left; }
    table tr.table-header {
      margin-bottom: 0.5em;
      border-bottom: 2px solid #3a424a; }
