/*

  Name:   shop.scss -> shop.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   5/23/2020
  Mod:    6/8/2020

*/
/*

  Name:   _config.scss
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/8/2020
  Mod:

*/
@import url("http://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css");
* {
  box-sizing: border-box; }

:root {
  --color1: $color1;
  --max-width: $max-width;
  --max-width-padding: $max-width-padding;
  --nav-height: $nav-height; }

.dialog {
  display: none; }

.shop-wrapper {
  display: grid;
  grid-template-columns: minmax(175px, auto) minmax(auto, 80%);
  grid-template-areas: "header header" "sidebar shop";
  grid-gap: 1em; }
  .shop-wrapper h1 {
    grid-area: header; }

.shop {
  grid-area: shop;
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  vertical-align: top; }

.shop-sidebar {
  grid-area: sidebar;
  position: sticky;
  top: 66px;
  height: 100%;
  background-color: yellow; }
  .shop-sidebar h1 {
    font-size: 12pt;
    padding: 1em;
    margin: 0 auto; }

@media (min-width: 570px) {
  .shop {
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 750px) {
  .shop {
    grid-template-columns: repeat(3, 1fr); } }
