/*

  Name:   shop-basic-item.scss -> shop-basic-item.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   5/23/2020
  Mod:    6/8/2020

*/
/*

  Name:   _config.scss
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/8/2020
  Mod:

*/
@import url("http://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css");
* {
  box-sizing: border-box; }

:root {
  --color1: $color1;
  --max-width: $max-width;
  --max-width-padding: $max-width-padding;
  --nav-height: $nav-height; }

.shop-item {
  display: block;
  position: relative;
  padding: 5px;
  padding-bottom: 90px;
  border-radius: 5px;
  background-color: rgba(10, 10, 10, 0.225);
  text-decoration: none;
  transition: 200ms; }
  .shop-item:hover .item-media img {
    width: 110%;
    height: 110%; }
  .shop-item .item-name {
    display: block;
    padding: 5px;
    margin-bottom: 8px;
    font-size: 1.3em;
    font-weight: 600;
    color: black; }
  .shop-item .item-media {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: 100%;
    margin-bottom: 0.25em;
    overflow: hidden;
    cursor: pointer; }
    .shop-item .item-media .item-desc {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: s;
      margin: 0;
      overflow-y: auto; }
      .shop-item .item-media .item-desc p {
        margin: auto; }
    .shop-item .item-media img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      transition: width 300ms, height 300ms ease;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .shop-item .item-weight {
    display: block;
    font-size: 1.0em;
    font-weight: 400;
    color: black; }
  .shop-item .item-var {
    display: grid;
    grid-template-columns: auto 1fr;
    position: absolute;
    bottom: 50px;
    left: 5px;
    width: calc(100% - 10px);
    text-align: left; }
    .shop-item .item-var span {
      padding-right: 4px;
      line-height: 36px;
      font-size: 0.9em; }
    .shop-item .item-var > select {
      position: relative;
      width: 100%;
      height: 40px;
      max-height: 100%;
      padding: 4px;
      border: 2px solid #ABABAB;
      margin: 0;
      background-color: white;
      color: black;
      font-size: 12px;
      vertical-align: middle;
      cursor: pointer;
      transition: 200ms; }
      .shop-item .item-var > select option {
        border: 0;
        cursor: pointer; }
  .shop-item .item-btn {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: calc(100% - 10px);
    height: auto;
    padding: 0.75em;
    border: 2px solid #3a424a;
    border-radius: 3px;
    margin: 0;
    background-color: #3a424a;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 200ms; }
    .shop-item .item-btn:hover {
      background-color: transparent;
      color: #3a424a; }
    .shop-item .item-btn:active {
      background-color: white;
      color: #3a424a; }
    .shop-item .item-btn .item-price {
      /* // before making the price inside the button
      display: inline-block;
      position: absolute;
        bottom: 8px;
        right: 116px;
      width: auto;
      height: 36px;
      padding: 0;
      border: 0;
      margin: 0;
      //background-color: white;
      color: $color1;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      */
      display: inline; }

/*
.shop-item:nth-child(1) {
    flex-direction: row;
    width: 5em;
}

*/
