/*

  Name:   shop-custom.scss -> shop-custom.css
  Site:   Coles TT
  Auth:   Anthony Isbell & Stetson Baber
  Crtd:   5/23/2020
  Mod:    6/6/2020

*/
.contentPanel {
  max-height: 100vh;
  height: auto;
  display: grid;
  border: 1px solid #000; }
  @media (min-width: 1025px) {
    .contentPanel {
      grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
      grid-template-rows: .1fr 1fr .5fr;
      grid-template-areas: ".    .     hd   .    ." "desc desc  thmb sel  sel" "desc desc  .    prc  prc "; } }
  .contentPanel #combo {
    grid-area: hd;
    position: relative; }
  .contentPanel .side-panel {
    grid-area: desc;
    display: flex;
    position: relative; }
    .contentPanel .side-panel .item-name {
      position: absolute;
      font-size: 1.3em; }
    .contentPanel .side-panel .item-desc {
      top: 10%;
      position: absolute; }
  .contentPanel img {
    width: 10%;
    border: 1px solid #000;
    grid-area: thmb;
    width: 70%; }
  .contentPanel p {
    grid-area: prc; }
  .contentPanel #selection-panel {
    position: relative;
    grid-area: sel;
    grid-auto-flow: row;
    top: 30%; }
    .contentPanel #selection-panel .item-blade {
      position: absolute; }
    .contentPanel #selection-panel .item-rb {
      position: absolute;
      top: 10%; }
