/*
  Name:   special.scss -> special.css
  Site:   Coles TT
  Auth:   Anthony Isbell & Stetson Baber
  Crtd:   5/23/2020
  Mod:    6/6/2020
*/
/*

  Name:   _config.scss
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/8/2020
  Mod:

*/
* {
  box-sizing: border-box; }

.contentPanel {
  height: auto;
  max-width: 98%;
  display: grid;
  border: 1px solid #000; }
  @media (min-width: 1025px) {
    .contentPanel {
      grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
      grid-template-rows: .1fr 1fr .5fr;
      grid-template-areas: ".    .     hd   .    ." "desc desc  thmb sel  sel" "desc desc  .    prc  prc "; } }
  @media (min-width: 0px) {
    .contentPanel {
      grid-template-columns: minmax(100px, auto); } }
  .contentPanel .combo-item-container {
    display: grid;
    grid-template-columns: minmax(100px, auto);
    grid-template-rows: 1fr; }
    .contentPanel .combo-item-container img {
      width: 100%; }
