/*
  Name:   special.scss -> special.css
  Site:   Coles TT
  Auth:   Anthony Isbell & Stetson Baber
  Crtd:   5/23/2020
  Mod:    6/6/2020
*/
/*

  Name:   _config.scss
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/8/2020
  Mod:

*/
* {
  box-sizing: border-box; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#home .landingPage {
  text-align: center;
  display: flex;
  border: 1px solid #a3bdbf;
  background-color: rgba(228, 228, 228, 0.679);
  border-radius: 5px;
  padding: 1em 1.4em;
  max-width: 600px;
  margin: 1em auto 3.2em auto; }
  #home .landingPage #landing-container {
    margin: 0;
    padding: 0; }
    @media (min-width: 1025px) {
      #home .landingPage #landing-container {
        -webkit-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: fade-in 2s cubic-bezier(0.115, 0.81, 0.255, 1);
        display: grid;
        gap: 2em 0; } }

.contentPanel {
  box-sizing: border-box;
  width: 100%;
  height: auto; }
  .contentPanel .panelChildren {
    margin-bottom: 5em; }
    @media (min-width: 1025px) {
      .contentPanel .panelChildren .combo-item-container {
        display: flex; } }
    .contentPanel .panelChildren .combo-item-container .thumbnail-container {
      display: grid;
      height: -moz-fit-content;
      height: fit-content;
      width: 100%; }
      .contentPanel .panelChildren .combo-item-container .thumbnail-container img {
        justify-self: center;
        max-width: 100%;
        height: auto;
        border: 1px solid rgba(24, 15, 15, 0.472); }
    .contentPanel .panelChildren .combo-item-container .info-panel {
      font-size: .9em;
      text-align: left; }
      @media (min-width: 1025px) {
        .contentPanel .panelChildren .combo-item-container .info-panel {
          margin: 0 4em; } }
      .contentPanel .panelChildren .combo-item-container .info-panel h1 {
        font-size: 1.2rem; }
    .contentPanel .panelChildren .combo-item-container .selection-panel {
      display: flex;
      flex-direction: column; }
      .contentPanel .panelChildren .combo-item-container .selection-panel label {
        text-align: left;
        margin-left: 1em; }
      .contentPanel .panelChildren .combo-item-container .selection-panel select {
        margin-left: 1em; }
