/*

  Name:   button.scss -> button.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/21/2020
  Mod:

*/

@import "../config";

select{
  display: inline-block;
  position: relative;
  width: auto;
  max-width: 100%;
  height: auto; //40px;
  max-height: 100%;
  padding: 4px;
  border: 2px solid #ABABAB;
  margin: 0;
  background-color: white;
  color: black;
  font-size: 14px;
  vertical-align: middle;
  cursor: pointer;
  transition: 200ms;

  option{
    border: 0;
    cursor: pointer;
  }
}
