//Fade in animation for homepage header
 @-webkit-keyframes fade-in {
    0% {
      opacity: .2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: .2;
  
    }
    100% {
      opacity: 1;
  
    }
  }
  