/*

  Name:   item-desc.scss -> item-desc.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/11/2020
  Mod:    6/17/2020

*/

@import "config";

@media (min-width: 0px){
  article{
    display: grid;
    grid-template-columns: 1fr minmax(143px, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "name price"
                         "media media"
                         "var var"
                         "desc desc";
    justify-content: center;
    grid-gap: 1em;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;
  }
  .item-media{
    grid-area: media;
    position: relative;
    width: 100%;
    height: auto;

    img{
      display: block;
      position: relative;
      width: 100%;
      max-width: 300px;
      height: 100%;
      //padding: 0 1em;
      margin: 0 auto;
    }
  }
  .item-name{
    grid-area: name;
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    color: $color1;
    vertical-align: top;
  }
  .item-var{
    grid-area: var;
    text-align: left;
    & > select{
      position: relative;
      width: 100px;
      height: 36px;
      max-height: 100%;
      padding: 4px;
      border: 2px solid #ABABAB;
      margin: 0;
      background-color: white;
      color: black;
      font-size: 12px;
      vertical-align: middle;
      cursor: pointer;
      transition: 200ms;

      option{
        border: 0;
        cursor: pointer;
      }
    }
  }
  .item-description{
    grid-area: desc;
    width: 100%;
    height: auto;
  }
  .item-price{
    grid-area: price;
    align-items: center;
    justify-content: center;
    text-align: right;

    .item-btn{
      display: inline-block;
      position: relative;
      width: auto;
      height: 36px; // from the grid
      //max-height: 100%;
      padding: 0.5em;
      border: 2px solid $color1;
      margin: 0;
      background-color: $color1;
      color: white;
      font-size: 0.9em;
      vertical-align: middle;
      cursor: pointer;
      transition: 200ms;

      &:hover{
        background-color: transparent;
        color: $color1;
      }
      &:active{
        background-color: white;
        color: $color1;
      }
      span{
        display: inline;
      }
    }
  }
}
@media (min-width: 670px){
  article{
    //display: grid;
    grid-template-columns: minmax(auto, 300px) 1fr;
    grid-template-rows: minmax(36px, auto) minmax(auto, 250px) minmax(36px, auto) auto;
    grid-template-areas: "media name"
                         "media desc"
                         "var desc"
                         "price desc";
  }
  .item-media{
    height: 0;
    padding-bottom: 100%;

    img{
      position: absolute;
        top: 50%;
        left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .item-name{
    // no difference from mobile
  }
  .item-var{
    // no difference from mobile
    & > select{
      // no difference from mobile
      option{
        // no difference from mobile
      }
    }
  }
  .item-description{
    // no difference from mobile
  }
  .item-price{
    text-align: left;

    .item-btn{
      width: 100%;
      height: auto;
      padding: 0.75em;
      font-size: 1em;

      span{
        // no difference from mobile
      }

      &:hover{
        // no difference from mobile
      }
      &:active{
        // no difference from mobile
      }
    }
  }
}
