/*

  Name:   item-desc.scss -> item-desc.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   6/11/2020
  Mod:    6/11/2020

*/

@import "config";

@media (min-width: 0px){
  article{
    display: grid;
    grid-template-columns: 1fr minmax(143px, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "name price"
                         "media media"
                         "var var"
                         "desc desc";
    justify-content: center;
    grid-gap: 1em;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;

    &.v1{.item-btn span{display: none;}}
    &.v2{.item-price span{display: none}.item-btn{     position: relative;
    width: auto !important;
    height: 36px;
    max-height: 100%;
    padding: 0.5em;
    border: 2px solid #3a424a;
    margin: 0;
    background-color: #3a424a;
    color: white;
    font-size: 0.9em;
    vertical-align: middle;
    cursor: pointer;
    transition: 200ms;
    display: inline-block;
      span{display: inline;}}}
  }
  .item-media{
    grid-area: media;
    position: relative;
    width: 100%;
    height: auto;
    img{
      display: block;
      position: relative;
      width: 100%;
      max-width: 400px;
      height: 100%;
      //padding: 0 1em;
      margin: 0 auto;
    }
  }
  .item-name{
    grid-area: name;
    // position: sticky;
    //   top: 66px;
    font-size: 2em;
    line-height: 1em;
    font-weight: bold;
    color: $color1;
    // background-color: white;
    vertical-align: top;
  }
  .item-price{
    grid-area: price;
    // position: sticky;
    //   top: 66px;
    align-items: center;
    justify-content: center;
    // background-color: white;
    text-align: right;

    & > span{
      display: inline-block;
      margin-right: 4px;
      font-size: 1.5em;
      line-height: calc(4/3);
      vertical-align: middle;
    }
    .item-btn{
      position: relative;
      width: 100px;
      height: 36px;
      max-height: 100%;
      padding: 4px;
      border: 2px solid $color1;
      margin: 0;
      background-color: $color1;
      color: white;
      font-size: 12px;
      vertical-align: middle;
      cursor: pointer;
      transition: 200ms;

      &:hover{
        background-color: transparent;
        color: $color1;
      }
      &:active{
        background-color: white;
        color: $color1;
      }
    }
  }
  .item-var{
    grid-area: var;
    text-align: left;
    & > select{
      position: relative;
      width: 100px;
      height: 36px;
      max-height: 100%;
      padding: 4px;
      border: 2px solid #ABABAB;
      margin: 0;
      background-color: white;
      color: black;
      font-size: 12px;
      vertical-align: middle;
      cursor: pointer;
      transition: 200ms;

      option{
        border: 0;
        cursor: pointer;
      }
    }
  }
  .item-description{
    grid-area: desc;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    //padding: 1em;
  }
}
@media (min-width: 670px){
  article.v1{
    display: grid;
    grid-template-columns: minmax(auto, 400px) 1fr auto;
    grid-template-rows: minmax(36px, auto) 30px 1fr;
    grid-template-areas: "media name price"
                         "media var var"
                         "media desc desc";
    // grid-template-areas: "media name name"
    //                      "var desc desc"
    //                      "price desc desc";
    justify-content: center;
    grid-gap: 1em;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;

  }
  .v1{
    .item-media{
      grid-area: media;
      position: sticky;
        top: 66px;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      img{
        display: block;
        position: absolute;
          top: 50%;
          left: 50%;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

        -webkit-transform: translate(-50%, -50%);
      }
    }
    .item-name{
      font-size: 2em;
      line-height: 1em;
      color: $color1;
      vertical-align: top;
    }
    .item-price{
      grid-area: price;
      align-items: center;
      justify-content: center;
      text-align: right;

      & > span{
        display: inline-block;
        margin-right: 4px;
        font-size: 1.5em;
        line-height: calc(4/3);
        vertical-align: middle;
      }
      .item-btn{
        position: relative;
        width: 100px;
        height: 36px;
        max-height: 100%;
        padding: 4px;
        border: 2px solid $color1;
        margin: 0;
        background-color: $color1;
        color: white;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
        transition: 200ms;

        span{display: none;}

        &:hover{
          background-color: transparent;
          color: $color1;
        }
        &:active{
          background-color: white;
          color: $color1;
        }
      }
    }
    .item-var{
      grid-area: var;
      text-align: left;
      & > select{
        position: relative;
        width: 100px;
        height: 36px;
        max-height: 100%;
        padding: 4px;
        border: 2px solid #ABABAB;
        margin: 0;
        background-color: white;
        color: black;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
        transition: 200ms;

        option{
          border: 0;
          cursor: pointer;
        }
      }
    }
    .item-description{
      grid-area: desc;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      //padding: 1em;
    }
  }
  article.v2{
    display: grid;
    grid-template-columns: minmax(auto, 400px) 1fr;
    grid-template-rows: minmax(36px, auto) minmax(auto, 350px) minmax(36px, auto) auto;
    grid-template-areas: "media name"
                         "media desc"
                         "var desc"
                         "price desc";
    justify-content: center;
    grid-gap: 1em;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;

  }
  .v2{
    .item-media{
      grid-area: media;
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      img{
        display: block;
        position: absolute;
          top: 50%;
          left: 50%;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

        -webkit-transform: translate(-50%, -50%);
      }
    }
    .item-name{
      font-size: 2em;
      line-height: 1em;
      color: $color1;
      vertical-align: top;
    }
    .item-price{
      grid-area: price;
      align-items: center;
      justify-content: center;
      text-align: left;

      & > span{
        display: none;
      }
      .item-btn{
        display: inline-block;
        position: relative;
        width: 100%;
        min-width: 169px;
        height: auto;
        max-height: 100%;
        padding: 0.75em;
        border: 2px solid $color1;
        margin: 0;
        background-color: $color1;
        color: white;
        font-size: 1em;
        vertical-align: middle;
        cursor: pointer;
        transition: 200ms;

        span{display: inline}

        &:hover{
          background-color: transparent;
          color: $color1;
        }
        &:active{
          background-color: white;
          color: $color1;
        }
      }
    }
    .item-var{
      grid-area: var;
      text-align: left;
      & > select{
        position: relative;
        width: 100px;
        height: 36px;
        max-height: 100%;
        padding: 4px;
        border: 2px solid #ABABAB;
        margin: 0;
        background-color: white;
        color: black;
        font-size: 12px;
        vertical-align: middle;
        cursor: pointer;
        transition: 200ms;

        option{
          border: 0;
          cursor: pointer;
        }
      }
    }
    .item-description{
      grid-area: desc;
      box-sizing: border-box;
      width: 100%;
      height: auto;
      //padding: 1em;
    }
  }

}
