/*

  Name:   nav.scss -> nav.css
  Site:   Coles TT
  Auth:   Stetson Baber
  Crtd:   5/24/2020
  Mod:    6/8/2020

*/

@import "config";

.navRouter {
  font-size: .9em;
  display: block;
  position: sticky;
    top: 0;
    left: 0;
  width: 100%;
  min-height: $nav-height;
  background: white;
  text-decoration: none;
  z-index: 999;

  


  .nav-container{
    & > * { // only affects the direct children to keep them in line
      vertical-align: middle;
    }
    box-shadow: 
    0px 10px 10px -10px
    rgba(0, 0, 0, 0.548);
    box-sizing: border-box;
    display: block;
    //position: relative;
    width: 100%;
    max-width: $max-width;
    height: 100%;
    padding:  0 $max-width-padding;
    // padding-right: $nav-height; // only when nav-btn is up
    margin: auto;

    .nav-logo{
      display: inline-block;
      position: relative;
      width: 50px;
      //min-width: 50px; // just for now
      height: $nav-height;
      padding: 0;
      margin: 0;
      //margin-right: 0.25em;
      text-align: center;
      line-height: $nav-height;
      font-weight: 800;
    }

    & > ul{
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      width: calc(100% - 50px);
      height: auto;
      max-height: $nav-height;
      padding: 0;
      padding-left: 0.25em;
      //margin: auto;
      list-style: none;

      li{
        box-sizing: border-box;
        padding: 1em;

        a{
          padding: 0.25em;
          border-bottom: 2px solid rgba(0,0,0,0);
          color: inherit;
          text-decoration: none;
          transition: 200ms;

          &:hover{
            border-bottom: 2px solid $color1;
            color: $color1;
          }

          i{display: none}// they work, we just don't need them
        }
      }
    }
    .nav-btn{
      box-sizing: border-box;
      display: none;
      position: absolute;
        top: 0;
        right: 0;
      width: $nav-height;
      height: $nav-height;
      padding: 24px 16px;
      margin: 0;
      background-color: white;
      color: white;
      cursor: pointer;
      transition: 200ms ease;

      &:hover{
        background-color: $color1;
        color: white;

        .nav-icon{
          background-color: white;
          &:before{background-color: white;}
          &:after{background-color: white;}
        }
      }
      &:active{
        background-color: black;
        color: $color1;

        .nav-icon{
          background-color: white;
          &:before{background-color: white;}
          &:after{background-color: white;}
        }
      }
      .nav-icon {
        display: block;
        position: relative;
        width: 18px;
        height: 2px;
        background: black;
        transition: all 0.2s ease-out, background 0.2s;

        &:before {
          display: block;
          position: absolute;
          top: 5px;
          width: 100%;
          height: 100%;
          background: black;
          transition: all 0.2s ease-out, background 0.2s;
          content: "";
        }
        &:after {
          display: block;
          position: absolute;
          top: -5px;
          width: 100%;
          height: 100%;
          background: black;
          transition: all 0.2s ease-out, background 0.2s;
          content: "";
        }
      }
    }
  }

}

.mobile{ // for mobile
  .nav-container{
    padding-right: $nav-height; // only when nav-btn is up
  }
}


@media screen and (max-width: 713px){
  .navRouter{
    .nav-container{
      padding: 0 calc(16px + #{$nav-height}) 0 16px; // $nav-height

      .nav-btn{
        display: block;

        &.active{
          background-color: $color1;
          color: white;

          .nav-icon {
            display: block;
            position: relative;
            width: 18px;
            height: 2px;
            background: transparent;
            transition: all 0.2s ease-out, background 0.2s;

            &:before {
              display: block;
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              background: white;
              transform: rotate(-45deg);
              transition: all 0.2s ease-out, background 0.2s;
              content: "";
            }
            &:after {
              display: block;
              position: absolute;
              top: 0px;
              width: 100%;
              height: 100%;
              background: white;
              transform: rotate(45deg);
              transition: all 0.2s ease-out, background 0.2s;
              content: "";
            }
          }
        }
      }
      ul{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
          top: $nav-height;
          right: -100%;
        width: 100%;
        height: calc(100% - #{$nav-height});
        max-height: none;
        background-color: $color1;
        color: white;
        transition: right 300ms ease;
        overflow-y: auto;

        &.active{
          right: 0;
        }

        li{
          width: 100%;
          text-align: right;

          a{
            display: inline-block;
            width: auto;
            max-width: 100%;

            &:hover{
              color: white;
              border-color: white;
            }
          }
        }
      }
    }
  }
}
