/*

  Name:   shop-basic.scss -> shop-basic.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   5/23/2020
  Mod:    6/5/2020

*/

.dialog{display: none;} // was only for testing the click function
.shop{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;

  a{
    //background-color: red;
  }
}
