/*

  Name:   shop-basic-item.scss -> shop-basic-item.css
  Site:   Coles TT
  Auth:   Anthony Isbell
  Crtd:   5/23/2020
  Mod:    5/23/2020

*/

.shop-item {

}


/*
.shop-item:nth-child(1) {
    flex-direction: row;
    width: 5em;
}

*/
