/*
  Name:   special.scss -> special.css
  Site:   Coles TT
  Auth:   Anthony Isbell & Stetson Baber
  Crtd:   5/23/2020
  Mod:    6/6/2020
*/


@import "config";
@import "keyframes";

//HOME PAGE CSS
#home{

  .header{
    text-align: center;

    display: flex;   
    border: 1px groove rgba(163, 189, 191, 0.3);
    background-color: rgba(228, 228, 228, 0.679);
    border-radius: 5px;
    padding: 1em 1.4em;
    max-width: 600px;
    margin: 1em auto 3.2em auto;
    box-shadow: 8px 6px 10px #c0babc6e;

   
    #header-container{

      @include for_breakpoint(desktop){

          -webkit-animation: fade-in 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) ;
          animation: fade-in 2s cubic-bezier(0.115, 0.810, 0.255, 1.000) ;
        display: grid;
        gap: 2em 0;
        // text-align: center;
      }
      margin: 0;
      padding: 0;
    }
  }
}


.contentPanel{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  //max-width: 98%;
  // min-height: 50%;
  // min-width: 50%;
  .panelChildren{
  margin-bottom: 5em;

  .combo-item-container{

      @include for_breakpoint(desktop){
      display: flex;
      }  
    
        .thumbnail-container {
          display: grid;
          width: 300px;

          img {      
            border-radius: 3px;    
            justify-self: center;
            max-width: 100%;
            max-height: 100%;
            border: 1px solid rgba(24, 15, 15, 0.472);
          }
        }

    .info-panel {
      font-size: .9em;
      text-align: left;
      flex-shrink: 2;
      .item-name1{
        color: #2d3033;
      }
      @include for_breakpoint(desktop ){
        margin:0 4em;  
      }
    h1{
      font-size: 1.2rem;
    }
}
    .selection-panel{
      display: flex;
      flex-direction: column;
      label{
        text-align: left;
        margin-left: 1em;}
      select{
        margin-left: 1em;}
  }}
  hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0));
  }
 }
}
